* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body,
label,
button {
  color: #000000;
}

.contenedor {
  display: flex;
  min-height: calc(100vh - 20px);
  background-color: #2a333d;
  align-items: center;
  justify-content: center;
  text-align: left;
}

form {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(230, 220, 243);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  margin-bottom: 1rem;
}

label {
  font-size: 15px;
  text-align: left;
  margin-left: 0;
  font-size: 0.9rem;
  color: #252525;
  margin-bottom: 0.2rem;
}

input {
  width: 70px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(230, 220, 243);
  margin-bottom: 1rem;
}

button {
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:focus {
  outline: 0;
}

.button {
  height: 40px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #ffffff;
  line-height: 150%;
  background: rgb(221, 135, 54);
}

button:active {
  height: 37px;
}

.button:hover {
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #ffffff;
  line-height: 150%;
  background: rgb(224, 112, 6);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 1;
}

.ocultar {
  display: none;
}

.resultado {
  font-weight: 700;
}

footer {
  background: #2a333d;
  color: #ffffff;
  text-align: center;
  height: 20px;
}

footer a {
  color: #fff;
}

footer a:hover {
  cursor: pointer;
  color: #e2e2e2;
}

.error {
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 18px;
  width: auto;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
  margin: 5px;
  padding: 5px;
}

.valido {
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 18px;
  width: auto;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
  margin: 5px;
  padding: 5px;
}

.botones {
  text-align: center;
}